
    <div class="row">
        <div class="SizeofContainer">
            <div class="card">
              <div class="card-body">
                <div class="col-md-4 bg" *ngFor="let path of img">
                    <h2>Nandu Chopade</h2>
                    <img  [src] ="path.imgUrl" class="img-thumbnail" alt="Cinque Terre" width="500px" height="500px"  ><br><br><br><br><br><br><br> <br><h4>...</h4>
                </div>
              </div>
            </div>
          </div>
        
        <div class="Profile">
            <div class="col-md-8 Dp">
                <div class="SizeofContainer">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="box">Name :-<span class="Name">Nandu Ashok Chopade</span></h3>
                        <h3 class="two">Education :-<span class="Education">BCA <span class="fullForm">(Bacholor of Computer Application)</span></span></h3>
                        <h3>Other skill  :-<span class="skill">Full Stack Developer</span></h3>
                         <h3>BOD  :-<span class="BOD">24 Janeuary 1998</span></h3>
                        <ul class="info">
                            <li >Website Developer Certification</li>
                            <li >Javascript& Jquery  Certification</li>
                            <li >PHP & MySQL  Certification</li>
                            <li >React With Redux  Certification</li>
                            <li >Angular  Certification</li>
                            <li >Node Js  Certification</li>
                            <li >MongoDB  Certification</li>
                            <li >Git and GitHub Master  Certification</li>
                            <li >Cloud Computing  Certification</li>
                        </ul>
                        <h3 class="two">Contact:-<span class="Contact">8788779605</span></h3>
                      </div>
                    </div>
                  </div>
               
               
            </div> 
        </div>
                 
    </div>

  