
   <!--    -->
     <div class="backgroundDiv">
        <div>
         <div class="main" >
            <div class="removeicon">
              
                   <span class="glyphicon glyphicon-remove " (click)=" OnGoToHomePage()"></span>
          
            </div>
               <div class="loginheader">
                  <h4>Login</h4>
               </div>
               <form>
                  <div class="input-container">
                    <i class="icon user"></i>
                      <input type="text" name="Username" placeholder="User Name" class="input-field" />
                  </div>
                   <div class="input-container">
                    <i class="icon passwords"></i>
                       <input type="text" name="Password"  placeholder="Password" class="input-field" />
                  </div>
                  <button class=" btn1" >Log In</button>
                  <div class="center">
                     OR
                  </div>
                  <div class="center" >
                     Register Using Sign Up
                  </div>
                  <button class=" btn1" (click)="BackOnSignUpPage()" > Sign Up</button>
                </form>
                <button class="btn1 " (click)=" OnGoToHomePage()"> Cancel</button>
              </div>
         
        </div>
    </div>
         
   
        
      