<br>
<div class="container">
    <div class="panel panel-primary">
        <div class=" panel-heading">
            deatails
        </div>
        <div class="panel-body">
            <div class="jumbotron">
                <h2></h2><hr>
                <h2>{{id}}</h2>
                <h2>{{deatails[0].productName}}</h2>
                <img [src]="deatails[0].imageUrl">
                <h2>{{deatails[0].description}}</h2>
                <hr>
                <button class="btn btn-danger" (click)="onback()"> <<<Back </button>
            </div>
        </div>
    </div>

</div>