
<div class="topnav" > 
  <ul> <!--     -->
  
        <li class="active "><a  [routerLink]="['product']" > Products</a></li>
        <div class="search-container">
        <form>
           <input type="text" placeholder="Enter products name" [(ngModel)]=" userText" class="Search-Box" name="search"/>
           <div class="icon"></div>
        </form>
        </div>
    
        <li><a [routerLink]="['home']">Home</a></li>
        <li> <a [routerLink]="['order']">Order</a></li>
        <li><a [routerLink]="['service']">Services</a></li>
        <li> <a [routerLink]="['about']">About</a></li>
        <li><div class="topnav-right "> <a [routerLink]="['sign-up']">Sign Up</a></div></li>
        <li ><div class="topnav-right "> <a class="active" [routerLink]="['login']" >Log In</a></div></li> 
     </ul>
 
</div>

<div class="background-image">

</div>
<div>


   {{userText}} 
    <router-outlet>

    </router-outlet>   

</div>