

/* @import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap'); */
/*@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	/*font-family: 'Istok Web', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}

.imo{
	height: 50px;
}
.topnav {
    overflow: hidden;
 	background-color:rgb(220, 20, 60);
	background-color: rgb(220, 20, 60,10);
	
}

.logo{

	float: left; 
	padding: none;
	
}
 .toggle{

	background-color: cyan;
}
i{
	font-size: 14px;
}
ul{
	padding:0px;
	
}
.topnav li {
 float: left;
 padding: 15px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color:rgb(37, 255, 226);
}

   a{
	text-decoration: none;
	color: white;
}

.icon{
	background: url("icons8-search-24.png") no-repeat;
	background-position: 3px 6px;
}

.topnav .search-container { 
	float: left;
	margin-bottom: 4px;
	
  }
.topnav .search-container .icon{
	float: left;
	padding: 18px 14px;
	margin-right: 16px;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0 ,0.3);
	font-size: 17px;
	border: none;
	cursor: pointer;
	border:1px solid black;
	margin-top:8px ;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
  }
  
.Search-Box{
	margin: 10x;
	float: left;
	font-size: 17px;
	color: white;
	padding-top: 5px;
	margin-top:5px ;
}


.topnav input[ type=text]{
	outline: none;
	box-sizing: border-box;
	color:white;
	padding: 6px 10px;
	width: 350px;
	font-size: 17px;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0 ,0.3);
	margin-top:8px ;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color:white;
		padding-left: 10px;
		opacity: 1; /* Firefox */
	  }

  a.active{
	padding:10px;
	border: 3px solid rgb(240, 241, 245);
  }
  

  .topnav-right { 
	float: right;
  }


@media screen and (max-width: 600px) {

	.topnav .search-container{
		display:none;
	  }

	  .logo{
         display: none;
		float: left; 
		padding: none;
	}
  .topnav li, .topnav input[type=text] .topnav .search-container button {	
    float:none;
    display: block;
    background-color:rgb(0, 0, 0);
	background-color: rgb(0, 0, 0 ,0.5);}
  .topnav li.icon {
    float:none;
  
  }
  a.active{
  padding:0px;
  border: none;
}
}

@media screen and (max-width: 600px) {
  
  .topnav.responsive .icon {
	position: absolute;
    right: 0;
    top: 0;
  }
  ul{
	  text-align: center;
  }
  .topnav.responsive li {
   
    
    text-align:center;
  }
  
  .topnav-right {
	float: none;
  }
}


















  